*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--grey-900);
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-profile{
    background-color: var(--grey-800);
    color: var(--white);
    width: 450px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 20px;
    padding: 0 30px 30px;
}

.profile-user{
    padding-top: 50px;
    
}

.avatar-image{
    border-radius: 50%;
    margin-bottom: 20px;
}

h1{
    padding: 20px;
    
}

address{
    font-style: normal;
    font-size: 1.125em;
    color: var(--green);
    font-weight: 700;
    margin-bottom: 30px;
}

p{
    font-size: 1.125em;
    margin-bottom: 10px;
}

.profile-socials{
    display: flex;
    flex-direction: column;
}


.social-link{
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey-700);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 0.875em;
    font-weight: 800;
}

.social-link:hover{
    background-color: var(--green);
    color: var(--grey-900);
    }